body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  #container {
    width: 100%;
    display: flex;
    justify-content: center;  /* ← centers horizontally */
    align-items: center;
  }
  
  .bar {
    cursor: pointer;
  }

  .detailBar {
    cursor: pointer;
  }
  
  .bar:hover {
    fill: darkorange;
  }
  
  .annotation {
    font-size: 14px;
    fill: red;
    font-weight: bold;
  }
  